<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta http-equiv='X-UA-Compatible' content='IE=EmulateIE7' />
    <meta name="viewport" content="width=device-width,  maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <meta name="keywords" content="" />
    <title></title>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <section id="loading"></section>
    <div class="container" id="container">
        <div class="error500" >
            <div class="error500-body-con">
                <img src="/img/500.png" alt="" class="img">
                <p class="error500-body-con-message">Oops! the server is wrong!</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="//pic.youzu.com/common/jquery-1.8.3.min.js"></script> 
<script src="/js/error.js"></script>
</html>