<script>
    //百度监控
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?f61970e1ce8b3758b866572e28e07fba";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();

    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
    var test = window.location.href;
    var LowerCase = navigator.userAgent.toLowerCase();
    if (LowerCase.indexOf('windows nt') === -1 && LowerCase.indexOf('macintosh') === -1) {
        location.href = 'm/download.html';
        // location.href = '/m/download.html';
    };
</script>
<script src="//pic.youzu.com/sg2/download/pc/js/jquery-1.10.2.min.js?20190415"></script>
<script src="//pic.youzu.com/hd/common/web_header.js?v=20190326"></script>
<script src="//pic.youzu.com/youzu/web/website_header/js/showPop.js?v=20181009"></script>
<script src="//pic.youzu.com/common/kf/js/help.js?v=20181009"></script>
<script> headerSDK.init('prod', 'shop', 110); </script>